mixin section-footer
    .footer
        .footer__content
            .footer__social
                .footer__social-desc= 'Questions'
                .footer__social-title= 'Social media'
                .footer__social-cards
                    .footer__social-cards-img
                        img(src='assets/img/social-cards.png')
                    .footer__social-cards-links
                        a.footer__social-cards-links-item(href='#twitter')
                        a.footer__social-cards-links-item(href='#telegram')
                        a.footer__social-cards-links-item(href='#youtube')
                        a.footer__social-cards-links-item(href='#discord')

                .footer__social-blur-1
                .footer__social-blur-2
                .footer__social-blur-3
                .footer__social-blur-4
            .footer__main
                .footer__main-based
                    .footer__main-based-block
                        .footer__main-based-ico
                        .footer__main-based-info
                            |Based in US
                            br
                            |Active worldwide
                .footer__main-contacts
                    .footer__main-contacts-phone= '+ 9 999 877 66 55'
                    .footer__main-contacts-addr= 'Los Angeles'
                .footer__main-email
                    a(href='#info@craftymetaverse.com')= 'info@craftymetaverse.com'
                .footer__main-blur-1
                .footer__main-blur-2
                .footer__main-blur-3
                .footer__main-blur-4
