mixin section-questions
    .questions
        .questions__content
            .questions__content-lines
            .questions__content-desc= 'Questions'
            .questions__content-title= 'FAQ'
            ol.questions__content-list
                li.questions__content-list-question= 'What is CMETA and which tokens we use?'
                .questions__content-list-answer= 'Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized,  persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.  '
                li.questions__content-list-question= 'What is CMETA and which tokens we use?'
                li.questions__content-list-question= 'What is CMETA and which tokens we use?'
                li.questions__content-list-question= 'What is CMETA and which tokens we use?'
                li.questions__content-list-question= 'What is CMETA and which tokens we use?'
        .questions__dec-img-1
            img(src='assets/img/svg/faq-dec-1.svg')
        .questions__dec-blur-1
        .questions__dec-blur-2
