mixin section-team
    .team
        .team__content
            .team__content-desc= 'WHO WE ARE'
            .team__content-title= 'Our Team'
            .team__content-cards
                .card.team__content-cards-card
                    .img
                        img(src='assets/img/team-stan.png')
                    .desc= 'CTO/Creative Director'
                    .title= 'STAN'
                    .social
                        a.facebook(href='#')
                            img(src='assets/img/svg/facebook.svg')
                        a.twitter(href='#')
                            img(src='assets/img/svg/twitter.svg')
                        a.instagram(href='#')
                            img(src='assets/img/svg/instagram.svg')
                        a.linkedin(href='#')
                            img(src='assets/img/svg/linkedin.svg')
                .card.team__content-cards-card
                    .img
                        img(src='assets/img/team-kwasi.png')
                    .title= 'KWASI'
                    .desc= 'Chief Financial Officer'
                .card.team__content-cards-card
                    .img
                        img(src='assets/img/team-kwame.png')
                    .desc= 'COO/Marketing Director'
                    .title= 'KWAME'
                .card.team__content-cards-card
                    .img
                        img(src='assets/img/team-kojo.png')
                    .title= 'KOJO'
                    .desc= 'CEO/Developer'
        .team__banner-1
            .team__banner-1-text
                span= 'CRAFTY METAVERSE'
                span= 'CRAFTY METAVERSE'
                span= 'CRAFTY METAVERSE'
        .team__bg
        .team__blur-1
        .team__blur-2
        .team__blur-3